extends ../layouts/base

block content
  h1 Keystone Demo
  if users && users.length > 0
    ul
      each user in users
        li
          h2= user.name.full
          h5= user.email
          if user.profileImage.url
            img(src=cached(user._.profileImage.fill(150, 150)))
